select,
input,
textarea {
	outline: none;
  resize: none;
}
body {
  padding: 0; margin: 0;
  font-size: 12px;
  height: 100vh;
}
* {
  box-sizing: border-box;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* ----------- */
header {
  font-size: 20px;
  padding: 0 0 25px;
  font-weight: bold;
}
header small {
  font-weight: lighter;
  font-size: 10px;
  color: dimgray;
}
header > small small {
  color:#A4A4A4;
  font-weight: bold;
}
select,
textarea,
input {
  transition: .25s;
  font-size: 12px;
  border-radius: 3px;
  font-size: 12px;
  border: 1px solid lightgrey;
  padding: 5px 10px;
}
select:focus,
textarea:focus,
input:focus {
  border: 1px solid #A4A4A4;
}
body {
  display: flex;
  width: 100%;
}
body > form {
  padding: 15px;
}
body > form:first-child {
  z-index: 1;
  width: 15%;
  box-shadow: 0 0 10px rgb(0 , 0, 0, 0.09);
}
body > div {
  width: 85%;
  background: #F2F2F2;
  overflow-y: scroll;
  overflow-x: hidden;
}

body > div > form {
  padding: 25px;
}
body > .none{
	width:0%
}
body > div > div {
  background: #fff;
}
.boardForm > div {
  border-radius: 5px;
  margin: 0 0 10px;
  background: #fff;
  padding: 15px;
}
.boardForm > div:first-child {
  padding: 0 0 20px;
}
.header_box {
  height: 100%;
  position: relative;
}
.desc_box > div {
    padding: 0 0 20;
}
.cate_box {
  display: flex;
  flex-direction: column;
  margin: 30px 0 0;
  gap: 15px;
  color: dimgray;
  font-size: 12px;
}
.main_cate {
  transition: .25s;
  cursor: pointer;
}
.main_cate:hover,
.main_cate.active {
  color: #000000;
  font-weight: bold;
}
.logo {
  width: fit-content;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 12px;
  margin: 0 0 0 3px;
  
  font-weight: bold;
}
.welcome_user {
  display: flex;
  position: absolute;
  bottom: 0;
  transform: translateY(-50%);
}
.welcome_user > div:first-child {
  border-right: 1px solid lightgray;
  font-size: 12px;
  padding: 0 8px 0 0;
}
.welcome_name {
  display: inline-block;
}
.logout_btn {
  margin: 0 0 0 10px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  font-size: 10px;
  color: dimgray;
}
.delete,
.cancel,
.save,
.show {
  display: inline-block;
  border-radius: 5px;
  width: 100px; height: 30px;
  line-height: 30px;
  text-align: center;
  font-weight: 400;
  margin: 10px 0 0;
  font-size: 14px;
  padding: 0 10px;
  transition: .25s;
  color: #A4A4A4;
  background: #fff;
  margin-right: 10px;
  cursor: pointer;
}
.save {
  background-color: #A4A4A4;
  color: #fff;
}
.delete,
.cancel,
.show {
  border: 1px solid lightgrey;
}
.save:hover {
  box-shadow: 0 0 10px rgba(18, 18, 32, 0.20);
}
.title {
  font-weight: bold;
  font-size: 12px;
  margin: 0 0 10px;
  border-bottom: 1px solid lightgray;
  padding: 0 0 12px;
}
input[type='button']:not(.classSearch, .search) {
  border: none;
  background: initial;
  color: dimgrey;
  cursor: pointer;
}
.title {
  font-weight: bold;
  font-size: 12px;
  margin: 0 0 10px;
  border-bottom: 1px solid lightgray;
  padding: 0 0 12px;
}
.desc_btn {
  border: 1px solid lightgray;
  background: #fff;
  width: fit-content; height: 30px;
  line-height: 30px;
  text-align: center;
  font-weight: 400;
  margin: 10px 0 0;
  font-size: 12px;
  padding: 0 10px;
  transition: .25s;
  margin-right: 10px;
  cursor: pointer;
  color: #A4A4A4;
  border-radius: 5px;
}
.desc_btn.classSearch {
  color: #fff;
  background: #A4A4A4;
  border: 1px solid initial
}
.desc_btn.classSearch:hover {
  box-shadow: 0 0 10px rgba(18, 18, 32, 0.20);
}
.resultCate {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid lightgray;
  border: 1px solid #A4A4A4;
  box-shadow: 0 6px 10px -2px #A4A4A4;
  
}
.searchDetail,
.resultCate > div {
  display: flex;
  align-items: center;
  text-align: center;
}
.searchDetail > div,
.resultCate > div {
  width: 6.6666%;
}
.resultCate > div {
  padding: 10px 5px;
  justify-content: center;
}
.resultCate > div:first-child {
  border-left: 7px solid #A4A4A4;
}
.searchResult_box {
  background: #A4A4A4;
}
.searchDetail {
	justify-content: space-between;
  padding: 10px 0;
  border: 1px solid #ffffff00;
  transition: .15s;
}
.searchDetail > div:not(.List_skill) {
  border-right: 1px solid lightgray;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.searchDetail:hover {
  border: 1px solid #A4A4A4;

}
.searchDetail > div:last-child {
  border-right: unset;
}
.searchDetail:nth-child(even) {
  background: #fff;
}
.pageNos {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px 0;
  margin: 10px 0 0;
}
.pageNos span:not(.isClick) {
  cursor: pointer;
}
.isClick,
.unClick {
  display: inline-block;
  width: 20px; height: 20px;
  text-align: center;
  line-height: 22px;
  border-radius: 3px;
}
.isClick {
  background: #A4A4A4;
  color: #fff;
}
.unClick {
  transition: .25s;
}
.unClick:hover {
  font-weight: bold;
  color: #A4A4A4;
}

.cntSearch {
  border-right: 1px solid #A4A4A4;
  padding: 0 10px 0 0;
}
.rownum {
  margin: 0 0 0 10px;
}
.pageNos {
  font-size: 12px;
}
.isEmpty {
  text-align: center;
  margin: 240px 0;
  font-size: 14px;
  color: dimgray;
}
.isEmpty i {
  display: block;
  font-size: 30px;
  margin: 0 0 20px;
}
.pop_up
,.popup_stu_search {
	display: none;
	position: absolute;
	top: 0; left: 0;
	width: 100%; height: 100%;
	padding: 20px;
	z-index: 999;
}
.freelancerRegForm > div {
	border: 1px solid lightgray;
}
.flex {
	display: flex;
	align-items: center;
	gap: 10px;
	padding: 0 0 10px;
}
.gender_box {
	pointer-events: none;
}
.dim {
  position: absolute;
  top: 0; left: 0;
	width: 100%; height: 100%;
  background: rgb(0 , 0, 0, 0.7);
}
.popup_main
,.popup_stu_search_main {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
	width: 90%; height: 85%;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgb(0 , 0, 0, 0.5);
  padding: 20px;
  overflow: scroll;
}
.desc_box {
  display: none;
  font-size: 12px;
}
.search_bar_box input[type=text] {
  width: 42.5%;
}
.search {
  background: #A4A4A4;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}
.search_bar_box > div {
  border-top: 1px solid lightgrey;
  margin: 20px 0 0;
}
.accent {
  color: rgb(34, 30, 232);
}
.freeSearch, .search {
  border: none;
}
.count_desc {
  font-size: 12px;
  color: dimgray;
  display: flex;
  align-items: center;
}
.pageNos {
  font-size: 12px;
}
.isSelect {
  color:rgb(34, 30, 232);
  font-weight: bold;
}
.etc {
  display: flex;
  align-items: center;
  gap: 10px;
}
.etc textarea {
  width: 90%; height: 30px;
}
.filter {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-25%);
  cursor: pointer;
  color: dimgray;
  transition: .25s;
}
.filter.active {
  transform: translateY(-25%) rotate(180deg);
}
.filter:hover {
  color:rgb(34, 30, 232);
}
.button_box {
  position: relative;
}
.count_desc {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 0 0 10px;
}
.dec_title,
.desc_title {
	font-weight: bold;
}
.desc_title {
	width: 80px;
}
.dec_title {
	width: 140px;
}

header {
  font-size: 20px;
  padding: 0 0 25px;
  font-weight: bold;
}
header small {
  font-weight: lighter;
  font-size: 10px;
  color: dimgray;
}
header > small small {
  color: rgb(34, 30, 232);
  font-weight: bold;
}
.welcome_name {
  border: none !important;
  cursor: pointer;
}
.desc_btn {
  font-size: 12px !important;
}
.pageNos {
  font-size: 12px;
}
.isSelect {
  color: rgb(34, 30, 232);
  font-weight: bold;
}
.searchPrjDetail, .searchDetail {
  padding: 10px 0 !important;
}
.desc_btn {
  border: none !important;
}
.hidden {
  opacity: 0;
}
.gray_btn {
  border: none;
  background: #fff;
  color: dimgray;
  cursor: pointer;
}